<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"
        android:maxSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bobdog"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenLayout|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".Quote_Activity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"/>
         <activity
            android:name=".Fragment_Activity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"/>
         <activity
            android:name=".Activity_Manager"
           android:configChanges="orientation|screenLayout|screenSize" 
android:screenOrientation="landscape"/>         
         <activity
            android:name=".Activity_Password"
            android:configChanges="orientation|screenLayout|screenSize"
/>        
		 <activity
            android:name=".Activity_Manage"
            android:configChanges="orientation|screenLayout|screenSize"
			android:screenOrientation="landscape"/>
         <activity
            android:name=".Activity_CreateStore"
            android:configChanges="orientation|screenLayout|screenSize"
	android:screenOrientation="landscape"/>
             </application>

</manifest>
